:root {
  --text-color: #7F7F7F;
  --faded-btn-color: #B4B4B4;
  --faded-bg-color: #f9f9f9;
}

* {
  /* border: 1px dashed red; */
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

nav {
  width: 100%;
  height: 5rem;
  background-color: #7F7F7F;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#todo-list {
  width: 90%;
  max-width: 620px;
  padding: 1rem;
  margin-top: 3rem;
}

/* Diagonal stacked paper effect */
.paper {
  background-color: #fff;
  /* Need position to allow stacking of pseudo-elements */
  position: relative;
  /* Padding for demo purposes */
  padding: 30px;
  border: 1px solid var(--faded-bg-color);
}

.paper,
.paper::before,
.paper::after {
  /* Add shadow to distinguish sheets from one another */
  box-shadow: 2px 1px 1px rgba(0,0,0,0.10);
}

.paper::before,
.paper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eee;
}

/* Second sheet of paper */
.paper::before {
  left: 7px;
  top: 5px;
  z-index: -1;
}

/* Third sheet of paper */
.paper::after {
  left: 12px;
  top: 10px;
  z-index: -2;
}

.hidden {
  visibility: hidden;
}

.d-none {
  display: none;
}

.faded-text {
  color: var(--faded-btn-color) !important;
}

/*BUTTONS*/

.btn {
  color: var(--text-color);
  cursor: pointer;
}

.add-button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 1px solid var(--text-color); 
  float: right;
}

.delete-button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-left: 1rem;
  border: 1px solid var(--faded-btn-color);
  float: right;
  color: var(--faded-btn-color);
  visibility: hidden;
  transition: font-size 0.3s cubic-bezier(0.15, 2.54, 0.58, 1),
              color 0.5s;  
}

.delete-button:hover {
  font-size: 1.05rem;
  color: var(--text-color);
}

.complete-button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 1rem;
  border: 1px solid var(--text-color);
  color: var(--faded-btn-color);
  transition: all 0.3s;
}

.complete-button:hover {
  color: var(--text-color);
}

.marked-completed {
  background-color: var(--faded-bg-color);
  color: var(--text-color);
}

.text-btn {
  padding: 0.5rem 1rem 0.5rem 1rem;
  transition: all 0.3s;
}

.text-btn:hover {
  background-color: var(--faded-bg-color);
}

.add-todo-text {
  height: 2.5rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  color: var(--text-color);
  width: 80%;
  border: 2px solid var(--faded-bg-color);
  border-top: none;
  border-right: none;
  border-left: none;
}

.todo-text {
  font-size: 1.2rem;
  padding: 0.5rem;
  width: 60%;
  display: inline-block;
  color: var(--text-color);
}

li {
  border-bottom: 1px solid var(--faded-bg-color);
  padding: 1rem 0 1rem 0;
}

li:hover > button {
  visibility: visible;
}

#edited {
  font-style: italic;
  float: right;
  padding: 0.5rem 0 0.5rem 0;
  color: var(--faded-btn-color);
}

header {
  margin-bottom: 2rem;
}

footer {
  margin: 2rem 0 2rem 0;
}

#menu {
  position: absolute;
  top: -100%;
  height: 100vh;
  width: 100%;
  background-color: aquamarine;
  z-index: 999;
  text-align: center;
  transition: top 0.3s ease-out;
}

.show-menu {
  top: 0 !important;
}

/* IMPORTED SHADOWS*/

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/* RESETS */

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}